@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-drawer .ant-drawer-content{
    background-color: #15151b;
    color: white;
}

.ant-drawer .ant-drawer-content-wrapper{
    width: 1000px !important;
}

.ant-drawer .ant-drawer-footer {
        border-top: 0.5px #a1a1a1 solid;
}
.ant-drawer .ant-drawer-body{
    padding: 0;
    overflow: hidden;
}


.hide-scrollbar::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}

/* Track */
.hide-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
.hide-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
}

/* Handle on hover */
.hide-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: transparent;
}


.custom-scrollbar::-webkit-scrollbar {
  max-width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #15151b;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #7e22ce;
  border-radius: 8px;
  min-height: 50px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@keyframes running-border {
  0% {
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, red, orange, yellow, green, cyan, blue, indigo, violet, pink, brown, gray);
  }
  9% {
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, gray, red, orange, yellow, green, cyan, blue, indigo, violet, pink, brown);
  }
  18% {
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, brown, gray, red, orange, yellow, green, cyan, blue, indigo, violet, pink);
  }
  27% {
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, pink, brown, gray, red, orange, yellow, green, cyan, blue, indigo, violet);
  }
  36% {
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, violet, pink, brown, gray, red, orange, yellow, green, cyan, blue, indigo);
  }
  45% {
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, indigo, violet, pink, brown, gray, red, orange, yellow, green, cyan, blue);
  }
  54% {
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, blue, indigo, violet, pink, brown, gray, red, orange, yellow, green, cyan);
  }
  63% {
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, cyan, blue, indigo, violet, pink, brown, gray, red, orange, yellow, green);
  }
  72% {
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, green, cyan, blue, indigo, violet, pink, brown, gray, red, orange, yellow);
  }
  81% {
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, yellow, green, cyan, blue, indigo, violet, pink, brown, gray, red, orange);
  }
  90% {
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, orange, yellow, green, cyan, blue, indigo, violet, pink, brown, gray, red);
  }
  100% {
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, red, orange, yellow, green, cyan, blue, indigo, violet, pink, brown, gray);
  }
}

.animate-running-border {
  animation: running-border 5s linear infinite;
  border: 3px solid;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
}
 
input[type=number] {
  -moz-appearance: textfield;
}