@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;500;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,700&display=swap');

.ant-drawer .ant-drawer-content{
    background-color: #15151b;
    color: white;
}

.ant-drawer .ant-drawer-content-wrapper{
    width: 1000px !important;
}

.ant-drawer .ant-drawer-footer {
        border-top: 0.5px #a1a1a1 solid;
}