@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-layout-sider-children {
    width: 100%;
    height: 80%;
}

.ant-menu {
    overflow-y: auto;
    width: 100%;
    height: 92%;
    background-color: #292734 !important;
}

.ant-menu-title-content{
    font-weight: bold;
    color: white;
}

.content-title {
    font-weight: bold;
    font-size: x-large;
}

.ant-menu-dark {
    background-color: #292734 !important;
}

.ant-dropdown-menu-item-only-child {
    background-color: #1f2937 !important;
}

.ant-table-thead tr .ant-table-cell {
    align-items: center !important;
    background-color: #7463f0 !important;
    color: white !important;
}

.ant-table-tbody tr .ant-table-cell {
    background-color: #292734 !important;
    color: white;
    border: 1px solid rgb(68, 68, 68) !important;
}

/* .ant-table-tbody {
    border-bottom-left-radius: 50px 20px;
} */




